* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page1{
    height: 80vh;
    width: 100vw;
    background-color: red;
}
.page1 .nav{
    height: 17%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.left{
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.left img{
    height: 15vh;
}
.menu{
    display: none;
    font-size: 3vh;
}
.middle input{
    width: 34vw;
    height: 6vh;
    border: 2px solid white;
    border-radius: 1000px;
    padding: 20px;
    box-shadow: 2px 2px 2px gray;
    
}
.middle{
    height: 100%;
    width: 39%;
    display: flex;
    align-items: center;
}
.right{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logintext{
margin: 12px;
padding: 8px;
border-radius: 16px;


}
.logintext:hover{
    background-color: blue;
    color: white;
}
.login{
    font-size: 3.7vh;
    margin: 6px;

}
.face{
    font-size: 4vh;
}
.downarrow{
    font-size: 3vh;
}
.cart{
    margin: 12px;
}
.cartlogo{
    font-size: 4.2vh;
}
.cart span{
    font-size: 4.1vh;
    margin: 7px;
    align-content: center;
}
.store{
}
.storelogo{
    font-size: 4.2vh;
}
.store span{
    font-size: 4.1vh;
    margin: 7px;
}
.more{
    
}
.morelogo{
    font-size: 4vh;
}

/* mrdia query */

@media only screen and (max-width: 827px) {
    .page1 .nav{
        position: relative;
        height: 33%;
        background-color: rgba(25, 25, 201, 0.836);
    }
   
    .middle{
        height: 40%;
position: absolute;
width: 100%;
top: 70px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
    }
    .middle input{
        width: 95vw;
       
       
    }
    .left{
        display: flex;
        align-items: flex-start;
    }
    .right{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        justify-content: center;
      
        flex-direction: row-reverse;

    }
    .logintext{
        margin-top: 19px;

    }
    .left{
        width: 64%;
    }
    .cart{
        margin-top: 28px;
    }
    .store{
        display: none;
    }
    .more{
        display: none;
    }
    .menu{
        display: block;
        margin-top: 30px;
        margin-left: 3px;

    }
  
  }
  @media only screen and (max-width: 395px) {
.left img{
    height: 10vh;
    margin-top: 10px;
}
.left{
   margin-right: 63px;
    width: 29%;
}
.login{
    font-size: 2.9vh;
    margin: 1px;
}
.cart{
    margin-top: 32px;
    
}
.cart span{
    font-size: 2.9vh;
}
.cartlogo{
    font-size: 2.9vh;
}
.face{
    font-size: 2.9vh;
}
.logintext{
    padding: 2px;
    margin-top: 30px;
}
.menu{
    font-size: 2vh;
}
  }
  @media only screen and (max-width: 317px) {
    .left{
        margin-right: 25px;
         
     }
     .right{
        width: 63%;
     }
  }
  /* @media screen and (min-device-width: 414px) and (max-device-width: 896px) { 
.page1 .nav{
   
}
.middle{
    position: absolute;
    top: 120px;
}
.cart{
}
.cartlogo{
font-size: 3vh;
}
.logintext{
    margin: 0px;
    margin-top: 30px;
}
.login{
    font-size: 3vh;
}
.face{
    font-size: 3vh;
    
}
.left img{
    height: 10vh;
}
} */
/* @media screen and (min-device-width: 390px) and (max-device-width: 844px) { 
    .left img{
        height: 10vh;
        margin: 0px;
    }
}
@media screen and (min-device-width: 430px) and (max-device-width: 932px) { 
    .cart span{
        font-size: 2.9vh;
    }
    .cart{
        margin-top: 40px;
    }
  
}

@media screen and (min-device-width: 412px) and (max-device-width: 915px) { 
    .cart span{
        font-size: 2.4vh;
    }
    .cart{
        margin-top: 36px;
    }
   .cartlogo{
    font-size: 2.3vh;
   }
   .logintext{
    margin-left: 0px;
    margin-top: 25px;
   }
  .login{
    font-size: 2.4vh;
  }
  .face{
    font-size: 2.4vh;
    
  }
} */
/* @media screen and (min-device-width: 1024px) and (max-device-width: 1366px) { 
.store{
    display: none;
}
.right{
    display: flex;
    justify-content: none;
}
.page1 .nav{
    position: relative;
    height: 33%;
    background-color: rgba(25, 25, 201, 0.836);
}

.middle{
    height: 40%;
position: absolute;
width: 100%;
top: 7px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}
.middle input{
    width: 95vw;
   
   
}
.cart{
    margin: 0px;
}
.more{
    margin-left: 20px;
}
.logintext{

    display: none;
}
.menu{
    display: block;
}
.left{
    width: 60%;
}
}
@media screen and (min-device-width: 912px) and (max-device-width: 1368px) { 
    .store{
        display: none;
    }
    .page1 .nav{
        position: relative;
        height: 33%;
        background-color: rgba(25, 25, 201, 0.836);
    }
    .cart{
        margin: 0px;
    }
    .cartlogo{
        font-size: 3.2vh;
    }
    .cart span{
        font-size: 3.6vh;
    }
    .more{
        margin-left: 20px;
    }
    .logintext{
    
        display: none;
    }
    .menu{
        display: block;
    }
    .left{
        width: 60%;
    }
   
    .middle{
        height: 40%;
position: absolute;
width: 100%;
top: 0px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
    }
    .middle input{
        width: 95vw;
       
       
    }
} */